@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

a:link {
    text-decoration: none;
    color: #000000;
}